
  .carousel-images {
    width: 36em;
    height: 17.94em;
    overflow: hidden;
    max-height:17.94em;
    max-width: 36em;
  }
  
  .carousel-image {
    border-radius: 10px;
    width: 100%;
    
  }
  
  .carousel-indicator {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #bae6fd; /* White background for dots */
    cursor: pointer;
    border: 2px solid #000;
    overflow: hidden;
  }
  
  .dot.active {
    background-color: #0ea5e9; 
    
  }
  