svg:hover{
    fill: #60a5fa;
}
.gameboy {
    animation-name: movement;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#scrolledImage {
    transition: transform 0.3s ease; /* Smooth transition */
  }

@keyframes movement {
   0%{
    transform: translateY(25px);
   }
   50%{
    transform: translateY(-25px);
   }
   100%{
    transform: translateY(25px);
   }
}
@keyframes movement {
   0%{
    transform: translateY(20px);
   }
   50%{
    transform: translateY(-20px);
   }
   100%{
    transform: translateY(20px);
   }
}